name: Testes Python

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do código
      uses: actions/checkout@v3

    - name: Configurar Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Instalar dependências
      run: |
        python -m pip install --upgrade pip
        # Se você tiver requirements.txt, adicione:
        # pip install -r requirements.txt

    - name: Rodar testes
      run: |
        python vendas.py
        python estoque.py
        python juros.py
